body{
  background: rgba(132, 199, 124, 0.527)
}

h5{
  text-align: center;
}

.card{
  border-radius: 1em;
}

img{
  border-radius: 50%;
  max-width: 66%;
  align-self: center;
}

.row{
  align-self: center;
}