body{
  background: whitesmoke;
}

.card{
  background: rgba(132, 199, 124, 0.527);
  border-radius: 1em;
  margin: auto;
  margin-bottom: 10px;
}

.box{
  background: rgba(132, 199, 124, 0.527);
  margin: auto;
  border-radius: 1em;
  padding: 1em;
  float: none;
  align-self: center;
}

h5{
  text-align: center;
}

.span{
  font-weight: bolder;
}

img{
  border-radius: 50%;
  max-width: 300px;
  align-self: center;
}
